<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Risheet Lenka" />
    <meta
      name="description"
      content="Play Battleships online - A classic naval combat strategy game"
    />
    <meta
      name="keywords"
      content="battleships, game, strategy, naval combat, online game"
    />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="Battleships Game" />
    <meta
      property="og:description"
      content="Play Battleships online - A classic naval combat strategy game"
    />
    <meta property="og:type" content="website" />
    <title>Battleships</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1>Battleships</h1>
    <div class="container">
      <div id="target-grid">
        <h2>Target Grid</h2>
        <table class="grid">
          <tr class="header-row">
            <td class="corner"></td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>
          <tr>
            <td class="header-col">A</td>
            <td id="A1"></td>
            <td id="A2"></td>
            <td id="A3"></td>
            <td id="A4"></td>
            <td id="A5"></td>
            <td id="A6"></td>
            <td id="A7"></td>
            <td id="A8"></td>
            <td id="A9"></td>
            <td id="A10"></td>
          </tr>
          <tr>
            <td class="header-col">B</td>
            <td id="B1"></td>
            <td id="B2"></td>
            <td id="B3"></td>
            <td id="B4"></td>
            <td id="B5"></td>
            <td id="B6"></td>
            <td id="B7"></td>
            <td id="B8"></td>
            <td id="B9"></td>
            <td id="B10"></td>
          </tr>
          <tr>
            <td class="header-col">C</td>
            <td id="C1"></td>
            <td id="C2"></td>
            <td id="C3"></td>
            <td id="C4"></td>
            <td id="C5"></td>
            <td id="C6"></td>
            <td id="C7"></td>
            <td id="C8"></td>
            <td id="C9"></td>
            <td id="C10"></td>
          </tr>
          <tr>
            <td class="header-col">D</td>
            <td id="D1"></td>
            <td id="D2"></td>
            <td id="D3"></td>
            <td id="D4"></td>
            <td id="D5"></td>
            <td id="D6"></td>
            <td id="D7"></td>
            <td id="D8"></td>
            <td id="D9"></td>
            <td id="D10"></td>
          </tr>
          <tr>
            <td class="header-col">E</td>
            <td id="E1"></td>
            <td id="E2"></td>
            <td id="E3"></td>
            <td id="E4"></td>
            <td id="E5"></td>
            <td id="E6"></td>
            <td id="E7"></td>
            <td id="E8"></td>
            <td id="E9"></td>
            <td id="E10"></td>
          </tr>
          <tr>
            <td class="header-col">F</td>
            <td id="F1"></td>
            <td id="F2"></td>
            <td id="F3"></td>
            <td id="F4"></td>
            <td id="F5"></td>
            <td id="F6"></td>
            <td id="F7"></td>
            <td id="F8"></td>
            <td id="F9"></td>
            <td id="F10"></td>
          </tr>
          <tr>
            <td class="header-col">G</td>
            <td id="G1"></td>
            <td id="G2"></td>
            <td id="G3"></td>
            <td id="G4"></td>
            <td id="G5"></td>
            <td id="G6"></td>
            <td id="G7"></td>
            <td id="G8"></td>
            <td id="G9"></td>
            <td id="G10"></td>
          </tr>
          <tr>
            <td class="header-col">H</td>
            <td id="H1"></td>
            <td id="H2"></td>
            <td id="H3"></td>
            <td id="H4"></td>
            <td id="H5"></td>
            <td id="H6"></td>
            <td id="H7"></td>
            <td id="H8"></td>
            <td id="H9"></td>
            <td id="H10"></td>
          </tr>
          <tr>
            <td class="header-col">I</td>
            <td id="I1"></td>
            <td id="I2"></td>
            <td id="I3"></td>
            <td id="I4"></td>
            <td id="I5"></td>
            <td id="I6"></td>
            <td id="I7"></td>
            <td id="I8"></td>
            <td id="I9"></td>
            <td id="I10"></td>
          </tr>
          <tr>
            <td class="header-col">J</td>
            <td id="J1"></td>
            <td id="J2"></td>
            <td id="J3"></td>
            <td id="J4"></td>
            <td id="J5"></td>
            <td id="J6"></td>
            <td id="J7"></td>
            <td id="J8"></td>
            <td id="J9"></td>
            <td id="J10"></td>
          </tr>
        </table>
      </div>
      <div id="ocean-grid">
        <h2>Ocean Grid</h2>
        <table class="grid">
          <tr class="header-row">
            <td class="corner"></td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>
          <tr>
            <td class="header-col">A</td>
            <td id="A1"></td>
            <td id="A2"></td>
            <td id="A3"></td>
            <td id="A4"></td>
            <td id="A5"></td>
            <td id="A6"></td>
            <td id="A7"></td>
            <td id="A8"></td>
            <td id="A9"></td>
            <td id="A10"></td>
          </tr>
          <tr>
            <td class="header-col">B</td>
            <td id="B1"></td>
            <td id="B2"></td>
            <td id="B3"></td>
            <td id="B4"></td>
            <td id="B5"></td>
            <td id="B6"></td>
            <td id="B7"></td>
            <td id="B8"></td>
            <td id="B9"></td>
            <td id="B10"></td>
          </tr>
          <tr>
            <td class="header-col">C</td>
            <td id="C1"></td>
            <td id="C2"></td>
            <td id="C3"></td>
            <td id="C4"></td>
            <td id="C5"></td>
            <td id="C6"></td>
            <td id="C7"></td>
            <td id="C8"></td>
            <td id="C9"></td>
            <td id="C10"></td>
          </tr>
          <tr>
            <td class="header-col">D</td>
            <td id="D1"></td>
            <td id="D2"></td>
            <td id="D3"></td>
            <td id="D4"></td>
            <td id="D5"></td>
            <td id="D6"></td>
            <td id="D7"></td>
            <td id="D8"></td>
            <td id="D9"></td>
            <td id="D10"></td>
          </tr>
          <tr>
            <td class="header-col">E</td>
            <td id="E1"></td>
            <td id="E2"></td>
            <td id="E3"></td>
            <td id="E4"></td>
            <td id="E5"></td>
            <td id="E6"></td>
            <td id="E7"></td>
            <td id="E8"></td>
            <td id="E9"></td>
            <td id="E10"></td>
          </tr>
          <tr>
            <td class="header-col">F</td>
            <td id="F1"></td>
            <td id="F2"></td>
            <td id="F3"></td>
            <td id="F4"></td>
            <td id="F5"></td>
            <td id="F6"></td>
            <td id="F7"></td>
            <td id="F8"></td>
            <td id="F9"></td>
            <td id="F10"></td>
          </tr>
          <tr>
            <td class="header-col">G</td>
            <td id="G1"></td>
            <td id="G2"></td>
            <td id="G3"></td>
            <td id="G4"></td>
            <td id="G5"></td>
            <td id="G6"></td>
            <td id="G7"></td>
            <td id="G8"></td>
            <td id="G9"></td>
            <td id="G10"></td>
          </tr>
          <tr>
            <td class="header-col">H</td>
            <td id="H1"></td>
            <td id="H2"></td>
            <td id="H3"></td>
            <td id="H4"></td>
            <td id="H5"></td>
            <td id="H6"></td>
            <td id="H7"></td>
            <td id="H8"></td>
            <td id="H9"></td>
            <td id="H10"></td>
          </tr>
          <tr>
            <td class="header-col">I</td>
            <td id="I1"></td>
            <td id="I2"></td>
            <td id="I3"></td>
            <td id="I4"></td>
            <td id="I5"></td>
            <td id="I6"></td>
            <td id="I7"></td>
            <td id="I8"></td>
            <td id="I9"></td>
            <td id="I10"></td>
          </tr>
          <tr>
            <td class="header-col">J</td>
            <td id="J1"></td>
            <td id="J2"></td>
            <td id="J3"></td>
            <td id="J4"></td>
            <td id="J5"></td>
            <td id="J6"></td>
            <td id="J7"></td>
            <td id="J8"></td>
            <td id="J9"></td>
            <td id="J10"></td>
          </tr>
        </table>
      </div>
      <div id="ships-container">
        <h2>Ships</h2>
        <ul class="ships-list">
          <li>
            <div class="ship carrier" draggable="true" data-ship-length="5">
              <div class="ship-preview">◼◼◼◼◼</div>
              <p>Carrier (5)</p>
            </div>
          </li>
          <li>
            <div class="ship battleship" draggable="true" data-ship-length="4">
              <div class="ship-preview">◼◼◼◼</div>
              <p>Battleship (4)</p>
            </div>
          </li>
          <li>
            <div class="ship cruiser" draggable="true" data-ship-length="3">
              <div class="ship-preview">◼◼◼</div>
              <p>Cruiser (3)</p>
            </div>
          </li>
          <li>
            <div class="ship submarine" draggable="true" data-ship-length="3">
              <div class="ship-preview">◼◼◼</div>
              <p>Submarine (3)</p>
            </div>
          </li>
          <li>
            <div class="ship destroyer" draggable="true" data-ship-length="2">
              <div class="ship-preview">◼◼</div>
              <p>Destroyer (2)</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <footer><p>Created by Risheet Lenka</p></footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
